h1 {text-transform: capitalize; font-family: 'Courier New', Courier, monospace; color: rgb(255, 255, 255); font-size: large;} 
h2{color: rgb(255, 255, 255);font-family: 'Courier New', Courier, monospace;}

p{color:rgb(255, 255, 255); font-size: larger; font-family: 'Courier New', Courier, monospace; font-size: large;}
strong {color: rgb(0, 255, 0); text-transform: uppercase;}

